body {
    }
.header {
    background-color: dimgrey;
    text-align: justify;
    padding: 10px;
}
h1 {
    color:white;
    text-align: center;
}
.topnav {
    overflow: auto;
    background-color: cornflowerblue;
    position: -webkit-sticky;
    position: sticky;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: darkgrey;
}
    .active {
        background-color:dimgray;
    }
.footer {
    background-color: dimgray;
    text-align: center;
}