body {
    background-color: white;
    }
h1 {
    color:white;
    text-align: center;
}
.topnav {
    overflow: hidden;
    background-color:black;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 38px 50px;
    text-decoration: none;
    font-size: 125%;
}

.topnav a:hover {
    background-color: #d61717;
}
    .active {
        background-color:#d61717;
    }
.logo {
    position: relative;
    height: 80px;
    padding-left: 0.7%;
    padding-top: 0.7%;
}
.img1 {
    width: 100%;
}
.image {
    z-index: 1;
    position: absolute 100%;
    width: 100%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.footer {
    background-color: dimgray;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .topnav {
        background-color: lightblue;
    }
}